<div class="row my-4">
    <div class="col">
        <h4>Patient Records</h4>
        
        <div style="margin-bottom:10px">Select the task you wish to do:</div>
        <form method="post">
            <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Add">Add</button>
            <button type="submit" class="btn btn-primary" asp-controller="Home" asp-action="Diary">View Records</button>
            <button type="submit" class="btn btn-danger" asp-controller="Home" asp-action="Delete">Delete</button>
        </form>
    </div>
</div>